body {
  font-family: Arial, sans-serif;
}
.sticky-icons {
  position: fixed;
  bottom: 20px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.call-icon, .whatsapp-icon {
  background: #25D366;
  padding: 10px;
  color: white;
  font-size: 24px;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}
.call-icon:hover, .whatsapp-icon:hover {
  transform: scale(1.2);
}
